security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="4o96P6rMj39rgrdG0X8eJt" password="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2F1dGguY29uZHVrdG9yLmlvIiwic291cmNlQXBwbGljYXRpb24iOiJhZG1pbiIsInVzZXJNYWlsIjpudWxsLCJwYXlsb2FkIjp7InZhbGlkRm9yVXNlcm5hbWUiOiI0bzk2UDZyTWozOXJncmRHMFg4ZUp0Iiwib3JnYW5pemF0aW9uSWQiOjcyMzkwLCJ1c2VySWQiOjg0MDU3LCJmb3JFeHBpcmF0aW9uQ2hlY2siOiI4MGM5MzUyYS1iYmZlLTRmOGUtODU0MC1lM2IyZmQ0Y2M5ZjUifX0.cufYYVpQgSdcsAVaJPtMSKQYme8FZ7ZMgawtfZ5rVt8";
sasl.mechanism=PLAIN
